.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.button:hover {
    background-color: #c0c0c0;
    transform: translateY(-2px);
}

.operator {
    background-color: #ff9500;
    color: white;
    border: none;
}

.operator:hover {
    background-color: #e68500;
}

.clear {
    background-color: #f44336;
    color: white;
}

.clear:hover {
    background-color: #d32f2f;
}

.equal {
    background-color: #4caf50;
    color: white;
}

.equal:hover {
    background-color: #388e3c;
}

html, body {
    background-image: url('../1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
}